:root {
  --ttt-border: 2px solid #ffffff;
  --hover-color: #fbff00;
  --active-color: #ffbb00;
  --golden-shadow: 0 0 50px #ffffff, 0 0 10px #ffbb00;
}

body {
  text-align: center;
  background: #000;
  color: rgb(255, 255, 255);
}

body,
button {
  user-select: none;
  font-family: serif;
}

/*@font-face {
    font-family: "GathaSansGit";
    src: url("../../TicTacToe/fonts/GathaSans.otf");
}

@font-face {
    font-family: "GathaSansLocal";
    src: url("fonts/GathaSans.otf");
}*/

.Tittle h1 {
  margin-top: 50px;
  font-size: 120px;
  text-align: center;
  text-shadow: var(--golden-shadow)
}

.TittleUI {
  margin-top: 150px;
}

.TittleUI div {
  justify-content: center;
  align-items: center;
}

.gameMode {
  font-size: 30px;
  margin-bottom: 10px;
}

.gameMode button {
  font-size: 30px;
}


.gameMode button:hover {
  color: var(--hover-color);
}

.gameMode button:active {
  color: var(--active-color);
}

.play button {
  font-size: 50px;
  height: 70px;
  width: 250px;
  border: 2px solid white;
}

.play button:hover {
  border-color: var(--hover-color);
}

.play button:active {
  border-color: var(--active-color);
  box-shadow: var(--golden-shadow);
}

.language {
  margin-top: 20px;
}

.ttt-btn {
  color: white;
  background: none;
  border-radius: 30px;
}

.ttt-btn_i{
  margin-left: 10px;
  font-size: 20px;
  font-style: italic;
  width: 35px;
  height: 35px;
  border-radius: 35px;
}

.About .ttt-btn_bottom-left {
  float: right;
  font-size: 18px;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-top: 40px;
}

.ttt-radio {
  display: none;
  margin: 10px;
  font-size: 18px;
  padding: 3px;
  border: 2px solid white;
}

.ttt-radio:hover {
  border-color: var(--hover-color);
}

input {
  display: none;
}

input:checked+.ttt-radio {
  border: 2px solid var(--active-color);
}

.About {
  display: inline-block;
  text-align: left;
  margin-top: 80px;
  width: 80%;
  border: 2px double white;
  padding: 15px;
}

.About .quotes {
  text-align: center;
}

.About .yada {
  display: inline-block;
  font-style: italic;
}
.About .luan {
  display: inline-block;

}

a:link {
  color: rgb(255, 255, 255);
}
a:visited {
  color: rgb(255, 255, 255);
}
a:hover {
  color: rgb(255, 228, 105);
}
a:active {
  color: rgb(255, 230, 0);
}

@media only screen and (max-width: 600px) {
  .Tittle h1 {
    margin-top: 80px;
    font-size: 60px;
  }
  .TittleUI {
    margin-top: 50px;
  }
}