:root {
    --red-shadow: 0 0 50px #ff0000, 0 0 10px #ff6600;
    --green-shadow: 0 0 50px #00ff00, 0 0 10px #00ff88;
    --golden-shadow: 0 0 50px #ffffff, 0 0 10px #ffbb00;
    --hover-border: 2px solid #6d6d6d;
    --active-border: 2px solid #acacac;
}

.score {
    display: inline-block;
    text-align: center;
    font-size: 30px;
}

.score>div {
    display: inline;
    width: 150px;
    text-align: center;
    line-height: 50px;
    padding: 5px 10px;
    margin: 0 10px;
    border: 2px solid rgb(255, 255, 255);
}

.score-current_cross {
    text-shadow: 0 0 1px #ff0000;
}

.score-current_circle {
    text-shadow: 0 0 1px #00ff00;
}

#table {
    position: relative;
    margin-top: 50px;
    display: inline-grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

#table.table_win {
    margin-right: 40%;
    animation-name: table_win_repos;
    animation-duration: 2s;
}

@keyframes table_win_repos {
    from {
        margin-right: 0;
    }

    to {
        margin-right: 40%;
    }
}

.table-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.table-item button {
    background: none;
    color: white;
    font-size: 80px;
    line-height: 80px;
    height: 80%;
    width: 80%;
    border: none;
}

.table-item button:hover {
    border: var(--hover-border);
}

.table-item button:active {
    border: var(--active-border);
}

.table-item:nth-child(-n+3) {
    border-bottom: var(--ttt-border);
}

.table-item:nth-child(3n+1) {
    border-right: var(--ttt-border);
}

.table-item:nth-child(3n) {
    border-left: var(--ttt-border);
}

.table-item:nth-child(n+7) {
    border-top: var(--ttt-border);
}

.table-item_cross {
    text-shadow: var(--red-shadow);
}

.table-item_circle {
    text-shadow: var(--green-shadow);
}

.table-item_invalid {
    text-shadow: var(--golden-shadow);
}

#result {
    position: absolute;
    margin-top: 20px;
    margin-left: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0%;
}

#result.result_end {
    opacity: 100%;
    animation-name: result_details_appear;
    animation-duration: 2s;
    pointer-events: all;
}

@keyframes result_details_appear {
    from {
        opacity: 0%;
        margin-left: 0%;
    }

    to {
        opacity: 100%;
        margin-left: 20%;
    }
}

#result>div {
    background: none;
    font-size: 30px;
    margin: 1px;
    width: 300px;
    height: 50px;
    line-height: 50px;
    color: white;
    border: 2px solid white;
    text-align: center;
    vertical-align: middle;
}

#result>.result-selectable:hover {
    border-color: var(--hover-color);
}

#result>.result-selectable:active {
    border-color: var(--active-color);
}

#result>div>button {
    font-size: 30px;
    height: 100%;
    width: 100%;
    color: white;
    background: none;
}

@media only screen and (max-width: 600px) {
    .score {
        display: inline-block;
        font-size: 20px;
    }

    .score>div {
        width: 50px;
        line-height: 50px;
        border: 2px solid rgb(255, 255, 255);
    }

    #table {
        grid-template-columns: repeat(3, 30vw);
        grid-template-rows: repeat(3, 20vh);
    }


    #table.table_win {
        margin-right: 0;
        margin-top: 220px;
        padding-bottom: 80px;
    }

    @keyframes table_win_repos {
        from {
            margin-top: 50px;
        }
    
        to {
            margin-top: 220px;
        }
    }

    #result {
        margin-top: 0px;
        margin-left: 0%;
        top: 180px;
        position: absolute;
    }

    @keyframes result_details_appear {
        from {
            opacity: 0%;
            top: 50%;
        }
    
        to {
            opacity: 100%;
            top: 180px;
        }
    }
}